﻿@model MojTimskiProjekt.Models.Cjenik

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cjenik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    </div>
    <div class="form-group">
        <label asp-for="IdNaplatnePostaje" class="control-label"></label>
        <select asp-for="IdNaplatnePostaje" class="form-control" asp-items="ViewBag.IdNaplatnePostaje"></select>
    </div>
    <div class="form-group">
        <label asp-for="Kategorija" class="control-label"></label>
        <input asp-for="Kategorija" class="form-control" />
        <span asp-validation-for="Kategorija" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MjestoUlaska" class="control-label"></label>
        <input asp-for="MjestoUlaska" class="form-control" />
        <span asp-validation-for="MjestoUlaska" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Iznos" class="control-label"></label>
        <input asp-for="Iznos" class="form-control" />
        <span asp-validation-for="Iznos" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </form>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
