﻿@model MojTimskiProjekt.Models.Cjenik

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cjenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MjestoUlaska)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoUlaska)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNaplatnePostajeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatnePostajeNavigation.Lokacija)
        </dd>
    </dl>

    <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" title="Delete" class="btn btn-default delete" /> |
    </form>
    <a asp-action="Index">Back to List</a>
</div>
