﻿@model MojTimskiProjekt.Models.Cjenik

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cjenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MjestoUlaska)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoUlaska)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNaplatnePostajeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatnePostajeNavigation.Lokacija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
