﻿@using MojTimskiProjekt.Models
@{
    ViewBag.Title = "Index";
}

@{
    ViewData["Title"] = "Index";
}

@{
    var data = ViewBag.Message;
}

<div class="jumbotron">
    <table class="table" id="objektTable">
        <thead>
            <tr>
                <th>
                    Kategorija
                </th>
                <th>
                    Mjesto ulaska
                </th>
                <th>
                    Iznos
                </th>

            </tr>
        </thead>
        @for (int i = 0; i < @data.Count; i++)
        {
            <tr>
                <td>
                    @data[i].Kategorija
                </td>
                <td>
                    @data[i].MjestoUlaska
                </td>
                <td>
                    @data[i].Iznos
                </td>
            </tr>
        }

    </table>
</div>
