﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.OperateriViewModel

@{
    ViewData["Title"] = "IndexSimple";

}
<p></p>

<h3>Blagajnici</h3>

<br />
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Operater" asp-action="Create">Dodaj Novog Operatera</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Operater" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Ime", "Prezime", "Dionica" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>

                            @nazivi[i - 1]

                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operater in Model.Operateri)
            {
                <partial name="Row" model="operater" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idoperatera');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idoperatera');
        });
    </script>


}