﻿@model IEnumerable<MojTimskiProjekt.Models.Operater>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Operateri</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Alarm" asp-action="IndexSimple">Alarmi</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Incident" asp-action="Index">Incidenti</a>
        </div>
        <br />
    </div>
    <br/>
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Uredaj" asp-action="Index">Uređaji</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            
        </div>
        <br />
    </div>

</div>
<div class="jumbotron">
    <div class="col-md-5">
        <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Operater" asp-action="Create">Dodaj Novog Operatera</a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Operater" asp-action="IndexSimple">Uredi Operatere</a>
    </div>
    <br />
</div>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="OperaterPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="OperaterExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">
    <table class="table" id="operateriTable">
        <thead>
            <tr>
                <th>
                    <b>Ime</b>
                </th>
                <th>
                    <b>Prezime</b>
                </th>
                <th>
                    <b>Dionica</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.IdZaposlenikaNavigation.Ime)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.IdZaposlenikaNavigation.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDioniceNavigation.Pocetak) -
                        @Html.DisplayFor(modelItem => item.IdDioniceNavigation.Kraj)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#operateriTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}

