﻿@model MojTimskiProjekt.ViewModels.OperaterViewModel
@{
}
<tr>

    <td class="text-left">@Model.IdZaposlenikaNavigation.Ime</td>
    <td class="text-left">@Model.IdZaposlenikaNavigation.Prezime</td>
    <td class="text-left">@Model.IdDioniceNavigation.Naziv</td>

    <td>
        <a data-idoperatera="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idoperatera="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
    $(function () {
        SetEditAjax(".editajax", '@Url.Action("EditPartial")', 'idoperatera');
        SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idoperatera');
    });
    </script>


}