﻿@{
    ViewData["Title"] = "About";
}
<h2>O nama</h2>
<div class="jumbotron">
    
    <h4 class="text-justify">
        
            Hrvatske autoceste d.o.o., društvo s ograničenom odgovornošću za upravljanje, građenje i održavanje autocesta, registrirano je i započelo s radom 11. travnja 2001. godine kao jedan od dva pravna slijednika Hrvatske uprave za ceste. Društvo je u 100%-om vlasništvu Republike Hrvatske.
            Hrvatske autoceste d.o.o. osnovane su sa svrhom upravljanja, građenja i održavanja autocesta, osim onih kojima upravlja koncesionar, sukladno Zakonu o cestama.

            Planiranje izgradnje i održavanja autocesta, prema Zakonu o cestama, provodi se kroz sljedeće programsko planske dokumente:

            dugoročno, kroz Strategiju razvitka javnih cesta koju donosi Hrvatski sabor
            srednjoročno, kroz četverogodišnje programe građenja i održavanja javnih cesta koje donosi Vlada RH na prijedlog Ministarstva pomorstva, prometa i infrastrukture
            godišnje, kroz planove građenja i održavanja koje uz suglasnost Vlade RH donose Hrvatske autoceste d.o.o.
            Hrvatske autoceste d.o.o. trajno su orijentirane na poboljšanje svih svojih procesa, što dokazujemo posjedovanjem certifikata za sustav upravljanja kvalitetom, okolišem te zdravljem i sigurnošću.
       
</h4>


    <p>Aplikacija o Hrvatskim autocestama.</p>



</div>