﻿@{
    ViewData["Title"] = "Contact";
}
<h2>Kontakt</h2>


<div class="jumbotron">
    <address>
        <b>Hrvatske autoceste d.o.o.</b> <br />
        Širolina 4, <br />
        10000 Zagreb, Hrvatska<br />
        <abbr title="Phone">tel:</abbr>
        +385 1 4694 444 <br />
        email:info@hac.hr
    </address>

    <address>
       <b> Naplata cestarine, ENC, R1 računi:</b> <br /> 
        email: info-naplata@hac.hr
    </address>

    <adress>
        <b>Besplatni info telefon </b> <br />
        <abbr title="Phone">tel:</abbr>
        0800 0422
    </adress>

</div>