﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.Autocesta>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="jumbotron">



    <div class="container">
        <div class="container  align-content-center">
           
                <div class="row ">
                    <a class="btn btn-lg btn-primary  col-md-5 " asp-area="" asp-controller="NaplatnaPostaja" asp-action="Index">Cijene</a>
                    <div class="col-md-2"></div>
                    <a class="btn btn-lg btn-primary  col-md-5 " asp-area="" asp-controller="Autocesta" asp-action="IndexSimple">Autoceste</a>
                   
                </div>
                
                
            <p></p>   
            <p></p>
            <div class="row">
                <a class="btn btn-lg btn-primary  col-md-5 " asp-area="" asp-controller="Autocesta" asp-action="Karta">Karta</a>
                <div class="col-md-2"></div>
                <a class="btn btn-lg btn-primary col-md-5 " asp-area="" asp-controller="ProslaStanja" asp-action="Index">Stanja na autocestama</a>

            </div>
            </div>
        </div>
        </div>
    <p></p>
    <p></p>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <p></p>
            <p></p>
            <p></p>
            <div id="mapid"></div>
            <style>
                #mapid {
                    height: 400px;
                }
            </style>
            <script>
                var mymap = L.map('mapid').setView([45.8132, 15.97699999], 7);

                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 13,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    id: 'examples.map-i86knfo3'
                }).addTo(mymap);
            </script>
           
        
        </div>


    </div>
    
</div>






