﻿@{
    ViewData["Title"] = "Pregled tragova praćenja rada";
}

<p></p>
<div class="jumbotron">
    <form asp-action="Show" method="get">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><h4>Pregledaj zapise za dan:</h4></label>
            <div class="col-sm-2">
                <input name="dan" class="form-control datum" />
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-sm btn-primary" title="Dohvati"><i class="fas fa-check-circle">Dohvati</i></button>
            </div>
        </div>
    </form>
</div>
@section styles{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

}

@section scripts{


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    

    <script scr="~/lib/"></script>
    <script>
        $(".datum").datepicker({
            dateFormat: "yy-mm-dd" //da se može prenijeti u get zahtjevu
        });
    </script>
}