﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.NaplatnaKucica>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Racun> racuni = ViewData["racuni"] as IEnumerable<Racun>;
}

    
<h2>Naplatne kućice</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="NaplatnaKucicaPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="NaplatnaKucicaExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv naplatne kućice
            </th>
            <th>
                Naziv naplatne postaje
            </th>
            <th>
                Izdani računi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNaplatnePostajeNavigation.Lokacija)
                </td>
                <td>
                    @{

                        
                          foreach (Racun racun in racuni)
                          {
                              if (racun != null && racun.IdNaplatneKucice == item.Id)
                              {
                                  @Html.DisplayFor(modelItem => racun.MjestoUlaska)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.DatumUlaz)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.MjestoIzlaska)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.DatumIzlaz)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.IdKategorijeVozilaNavigation.KategorijaVozila1)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.RegistracijskeOznake)
                                  <a> - </a>
                                  @Html.DisplayFor(modelItem => racun.Iznos)


                                  <br />
                              }

                          }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>