﻿@model IEnumerable<MojTimskiProjekt.Models.Incident>

@{
    ViewData["Title"] = "Index";
}

<h2>Incident</h2>
<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="IncidentPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="IncidentExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" id="incidentTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lokacija)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUredajaNavigation.Id) Uređaja
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUredajaNavigation.Naziv) Uređaja
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUredajaNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUredajaNavigation.Naziv)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

