﻿@model MojTimskiProjekt.Models.Blagajnik

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Blagajnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNaplatneKućice" class="control-label">Naplatna Kućica</label>
                <select asp-for="IdNaplatneKućice" class ="form-control" asp-items="ViewBag.IdNaplatneKućice"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdZaposlenika" class="control-label">Zaposlenik</label>
                <select asp-for="IdZaposlenika" class ="form-control" asp-items="ViewBag.IdZaposlenika"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

