﻿@model MojTimskiProjekt.Models.Blagajnik

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blagajnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Adresa)
        </dd>
        <dt>
            <b>OIB</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Oib)
        </dd>
        <dt>
            <b>Upravitelj</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.IdUpraviteljaNavigation.Naziv)
        </dd>
        <dt>
            <b>Lokacija</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatneKućiceNavigation.IdNaplatnePostajeNavigation.Lokacija)
        </dd>
    </dl>
    
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger delete" id="delete" />
                </form>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
