﻿@model MojTimskiProjekt.Models.Blagajnik

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blagajnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdZaposlenikaNavigation.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Adresa)
        </dd>
        <dt>
            <b>OIB</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdZaposlenikaNavigation.Oib)
        </dd>
        <dt>
            <b>Naplatna kućica</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatneKućiceNavigation.Naziv)
        </dd>
    </dl>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
