﻿@model MojTimskiProjekt.Models.Blagajnik

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Blagajnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdNaplatneKućice" class="control-label">Naplatna Kućica</label>
                <select asp-for="IdNaplatneKućice" class="form-control" asp-items="ViewBag.IdNaplatneKućice">
                </select>
                <span asp-validation-for="IdNaplatneKućice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdZaposlenika" class="control-label">Zaposlenik</label>
                <select asp-for="IdZaposlenika" class="form-control" asp-items="ViewBag.IdZaposlenika"></select>
                <span asp-validation-for="IdZaposlenika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
