﻿@model MojTimskiProjekt.Models.Blagajnik

<tr>
    <td>
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="IdZaposlenika" class="control-label">Zaposlenik</label>
                <select asp-for="IdZaposlenika" class="form-control" data-save="" asp-items="ViewBag.IdZaposlenika"></select>
            </div>
        </form>
    </td>
    <td>
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="IdNaplatneKućice" class="control-label">Naplatna kućica</label>
                <select asp-for="IdNaplatneKućice" class="form-control" data-save="" asp-items="ViewBag.IdNaplatneKućice"></select>
            </div>
        </form>
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save">Spremi</i></button>
    </td>
    <td>
        <button class="btn btn-sm cancel" title="Odustani"><i class="fas fa-undo-alt">Odustani</i></button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" data-save="" />
    </td>
</tr>