﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.Blagajnik>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Racun> racuni = ViewData["racuni"] as IEnumerable<Racun>;
}

<p></p>
<h3> Blagajnici</h3>
<br />


<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="Create">Dodaj Novog Blagajnika</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="IndexSimple">Uredi Blagajnike</a>
            </div>
        </div>
    </div>
</div>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="BlagajnikPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="BlagajnikExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">

    <table class="table" id="blagajnikTable">
        <thead>
            <tr>
                <th>
                    <b>Ime</b>
                </th>
                <th>
                    <b>Prezime</b>
                </th>
                <th>
                    <b>Naplatna kućica</b>
                </th>
                <th>
                    <b>Računi</b>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdZaposlenikaNavigation.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdZaposlenikaNavigation.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdNaplatneKućiceNavigation.Naziv)
                    </td>
                    <td>
                        @{
                            foreach (Racun racun in racuni)
                            {
                                if (racun != null && racun.IdBlagajnika == item.Id)
                                {
                                    @Html.DisplayFor(modelItem => racun.MjestoUlaska)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.DatumUlaz)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.MjestoIzlaska)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.DatumIzlaz)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.IdKategorijeVozilaNavigation.KategorijaVozila1)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.RegistracijskeOznake)
                                    <a> - </a>
                                    @Html.DisplayFor(modelItem => racun.Iznos)


                                    <br />
                                }

                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#blagajnikTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}


