﻿@model MojTimskiProjekt.ViewModels.BlagajnikViewModel
@{
    IEnumerable<Racun> racuni = ViewData["racuni"] as IEnumerable<Racun>;
}
<tr>

    <td class="text-left">@Model.IdZaposlenikaNavigation.Ime</td>
    <td class="text-left">@Model.IdZaposlenikaNavigation.Prezime</td>
    <td class="text-left">@Model.IdNaplatneKućiceNavigation.Naziv</td>
    <td class="textt-left">
        @{
            foreach (var racun in racuni)
            {
                if (racun != null && racun.IdBlagajnika == Model.Id)
                {

                    @Html.DisplayFor(modelItem => racun.MjestoUlaska)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.DatumUlaz)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.MjestoIzlaska)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.DatumIzlaz)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.IdKategorijeVozilaNavigation.KategorijaVozila1)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.RegistracijskeOznake)
                    <a> - </a>
                    @Html.DisplayFor(modelItem => racun.Iznos)

                    <br />

                }

            }
        }
    </td>

    <td>
        <a data-idblagajnika="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idblagajnika="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
    $(function () {
        SetEditAjax(".editajax", '@Url.Action("EditPartial")', 'idblagajnika');
        SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idblagajnika');
    });
    </script>


}