﻿@model MojTimskiProjekt.Models.Dionica

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dionica</h4>
    <hr />
    <div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duljina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duljina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pocetak)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pocetak)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdOperatera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdOperatera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stanje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAutocesteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAutocesteNavigation.Kraj)
        </dd>
    </dl>
    </div>
    <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
