﻿@model MojTimskiProjekt.Models.Dionica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <h4>Dionica</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duljina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duljina)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pocetak)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pocetak)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Kraj)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kraj)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdOperatera)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdOperatera)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stanje)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stanje)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdAutocesteNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdAutocesteNavigation.Kraj)
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
