﻿@model IEnumerable<MojTimskiProjekt.Models.Dionica>

@{
    ViewData["Title"] = "Index";
}

<h2>Dionice </h2>
<br/>
<div class="row ">

    <div class="col-md-2">
        <a class="btn btn-md btn-primary btn-block" asp-action="Create">Dodaj dionicu</a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="DionicePdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="DioniceExcel">Ispis u excel</a>
    </div>

</div>

<div class="jumbotron">
    <table class="table" id="dionicaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duljina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pocetak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kraj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdOperatera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stanje)
                </th>
                <th>
                    Naziv autoceste
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duljina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pocetak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kraj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOperatera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stanje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAutocesteNavigation.Naziv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



