﻿@model MojTimskiProjekt.Models.Zaposlenik

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Zaposlenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt>
            <b>OIB</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oib)
        </dd>
        <dt>
            <b>Upravitelj</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUpraviteljaNavigation.Naziv)
        </dd>
        <dt>
            <b>Vrsta Posla</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVrstePoslaNavigation.Vrsta)
        </dd>
    </dl>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
