﻿@model MojTimskiProjekt.Models.Zaposlenik

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Zaposlenik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdUpravitelja" class="control-label">Upravitelj</label>
                <select asp-for="IdUpravitelja" class="form-control" asp-items="ViewBag.IdUpravitelja"></select>
                <span asp-validation-for="IdUpravitelja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVrstePosla" class="control-label">Vrsta Posla</label>
                <select asp-for="IdVrstePosla" class="form-control" asp-items="ViewBag.IdVrstePosla"></select>
                <span asp-validation-for="IdVrstePosla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oib" class="control-label">OIB</label>
                <input asp-for="Oib" class="form-control" />
                <span asp-validation-for="Oib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
