﻿@model MojTimskiProjekt.Models.Zaposlenik

<tr>
    <td>
        <input asp-for="Ime" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Prezime" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Adresa" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Oib" class="form-control" data-save="" />
    </td>
    <td>
        <!-- <input class="form-control"
           data-autocomplete="upravitelj"
           data-autocomplete-result="naziv"
           value="@Model.IdUpraviteljaNavigation.Naziv" />
           <input type="hidden" asp-for="IdUpravitelja"
           data-autocomplete-result-for="naziv" />
        <input asp-for="IdUpravitelja" class="form-control" data-save="" />-->
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="IdUpravitelja" class="control-label">Upravitelj</label>
                <select asp-for="IdUpravitelja" class="form-control" data-save="" asp-items="ViewBag.IdUpravitelja"></select>
            </div>
        </form>
    </td>
    <td>
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="IdVrstePosla" class="control-label">Vrsta posla</label>
                <select asp-for="IdVrstePosla" class="form-control" data-save="" asp-items="ViewBag.IdVrstePosla"></select>
            </div>
        </form>
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save">Spremi</i></button>
    </td>
    <td>
        <button class="btn btn-sm cancel" title="Odustani"><i class="fas fa-undo-alt">Odustani</i></button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" data-save="" />
    </td>
</tr>