﻿@model IEnumerable<MojTimskiProjekt.Models.Zaposlenik>

@{
    ViewData["Title"] = "Zaposlenik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<h3> Zaposlenici</h3>
<br />


<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Blagajnik" asp-action="Index">Blagajnici</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Operater" asp-action="Index">Operateri</a>
        </div>
    </div>
</div>

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Create">Dodaj Novog Zaposlenika</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="IndexSimple">Uredi zaposlenike</a>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ZaposlenikPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ZaposlenikExcel">Ispis u excel</a>
    </div>
</div>


<div class="jumbotron">
    <table class="table" id="zaposlenikTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresa)
                </th>
                <th>
                    <b>OIB</b>
                </th>
                <th>
                    <b>Upravitelj</b>
                </th>
                <th>
                    <b>Vrsta Posla</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oib)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUpraviteljaNavigation.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVrstePoslaNavigation.Vrsta)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#zaposlenikTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}

