﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.ZaposleniciViewModel

@{
    ViewData["Title"] = "IndexSimple";
    
}
<p></p>

<h3>Prikaz zaposlenika</h3>

<br />

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Create">Dodaj Novog Zaposlenika</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Ime", "Prezime", "Adresa", "OIB", "Upravitelj", "Vrsta Posla"};
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>

                            @nazivi[i - 1]

                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var zaposlenik in Model.Zaposlenici)
            {
                <partial name="Row" model="zaposlenik" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idzaposlenika');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idzaposlenika');
        });
    </script>


}