﻿@model MojTimskiProjekt.ViewModels.ZaposlenikViewModel
@{

}
<tr>

    <td class="text-left">@Model.Ime</td>
    <td class="text-left">@Model.Prezime</td>
    <td class="text-left">@Model.Adresa</td>
    <td class="text-left">@Model.Oib</td>
    <td class="text-left">@Model.IdUpraviteljaNavigation.Naziv</td>
    <td class="text-left">@Model.IdVrstePoslaNavigation.Vrsta</td>

    <td>
        <a data-idzaposlenika="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idzaposlenika="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idzaposlenika');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idzaposlenika');
        });
    </script>


}