﻿@model MojTimskiProjekt.Models.ProslaStanja

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodavanje novog stanja na autocesti</h2>

<h3>Stanje na autocesti</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumOd" class="control-label">Datum od</label>
                <input asp-for="DatumOd" class="form-control" />
                <span asp-validation-for="DatumOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumDo" class="control-label">Datum do</label>
                <input asp-for="DatumDo" class="form-control" />
                <span asp-validation-for="DatumDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutoceste" class="control-label">Autocesta</label>
                <select asp-for="IdAutoceste" class="form-control" asp-items="ViewBag.IdAutoceste"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdDionice" class="control-label">Izlaz</label>
                <select asp-for="IdDionice" class="form-control" asp-items="ViewBag.IdDionice"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-5">
    <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="ProslaStanja" asp-action="Index">Natrag na Listu</a>
</div>