﻿@model MojTimskiProjekt.Models.ProslaStanja

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brisanje</h2>

<div>
    <h3>Stanje na autocesti</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumOd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumOd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumDo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumDo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAutocesteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAutocesteNavigation.Kraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDioniceNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDioniceNavigation.Kraj)
        </dd>
    </dl>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Delete" onclick="return confirm('Jeste li sigurni da želite obrisati?')">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Obriši" class="btn btn-danger delete" /> |
                </form>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="ProslaStanja" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
