﻿@model MojTimskiProjekt.Models.ProslaStanja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji</h2>

<div>
    <h3>Stanje na autocesti</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumOd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumOd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumDo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumDo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAutocesteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAutocesteNavigation.Kraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDioniceNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDioniceNavigation.Kraj)
        </dd>
    </dl>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="ProslaStanja" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>