﻿
@{
    ViewData["Title"] = "Karta";
}

<h2>Karta</h2>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <p></p>
            <p></p>
            <p></p>
            <div id="mapid"></div>
            <style>
                #mapid {
                    height: 400px;
                }
            </style>
            <script>
                var mymap = L.map('mapid').setView([45.8132, 15.97699999], 7);

                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 13,
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    id: 'examples.map-i86knfo3'
                }).addTo(mymap);
            </script>


        </div>


    </div>
    </div>
