﻿@model MojTimskiProjekt.Models.Autocesta

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Autocesta</h4>
<hr />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
        <div class="form-group">
            <label asp-for="Naziv" class="control-label"></label>
            <input asp-for="Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DuljinaPlan" class="control-label"></label>
            <input asp-for="DuljinaPlan" class="form-control" />
            <span asp-validation-for="DuljinaPlan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duljina" class="control-label"></label>
            <input asp-for="Duljina" class="form-control" />
            <span asp-validation-for="Duljina" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pocetak" class="control-label"></label>
            <input asp-for="Pocetak" class="form-control" />
            <span asp-validation-for="Pocetak" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Kraj" class="control-label"></label>
            <input asp-for="Kraj" class="form-control" />
            <span asp-validation-for="Kraj" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdUpravitelja" class="control-label"></label>
            <select asp-for="IdUpravitelja" class="form-control" asp-items="ViewBag.IdUpravitelja"></select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-success btn-lg" />
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        </form>
    </div>
</div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
