﻿@model MojTimskiProjekt.Models.Autocesta

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Autocesta</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DuljinaPlan)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DuljinaPlan)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duljina)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duljina)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pocetak)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pocetak)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Kraj)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kraj)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdUpraviteljaNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdUpraviteljaNavigation.Naziv)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger delete" id="delete" /> |

    </form>
     
</div>
