﻿@model MojTimskiProjekt.Models.Autocesta

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div >
    <h4>Autocesta</h4>
    <hr />
    <dl class="dl-horizontal jumbotron">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuljinaPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuljinaPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duljina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duljina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pocetak)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pocetak)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUpraviteljaNavigation.Naziv) Upravitelja
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUpraviteljaNavigation.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
