﻿@model MojTimskiProjekt.Models.Autocesta

<tr>
    <td>
        <input asp-for="Naziv" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="DuljinaPlan" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Duljina" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Pocetak" form-control" data-save="" />
    </td>
    <td>
        <input asp-for="Kraj" class="form-control" data-save="" />
    </td>
    <td>
        <input asp-for="IdUpravitelja" class="form-control" data-save="" />
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save">Spremi</i></button>
    </td>
    <td>
        <button class="btn btn-sm cancel" title="Odustani"><i class="fas fa-undo-alt">Odustani</i></button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" data-save="" />
    </td>
</tr>