﻿@model MojTimskiProjekt.Models.Autocesta

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div class="jumbotron">
    <h4>Autocesta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DuljinaPlan" class="control-label"></label>
                    <input asp-for="DuljinaPlan" class="form-control" />
                    <span asp-validation-for="DuljinaPlan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duljina" class="control-label"></label>
                    <input asp-for="Duljina" class="form-control" />
                    <span asp-validation-for="Duljina" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pocetak" class="control-label"></label>
                    <input asp-for="Pocetak" class="form-control" />
                    <span asp-validation-for="Pocetak" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kraj" class="control-label"></label>
                    <input asp-for="Kraj" class="form-control" />
                    <span asp-validation-for="Kraj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdUpravitelja" class="control-label"></label>
                    <select asp-for="IdUpravitelja" class="form-control" asp-items="ViewBag.IdUpravitelja"></select>
                    <span asp-validation-for="IdUpravitelja" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
