﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.AutocesteViewModel

@{
    ViewData["Title"] = "IndexSimple";
    IEnumerable<Dionica> dionice = ViewData["dionice"] as IEnumerable<Dionica>;
}
<p></p>

<h3>Prikaz autocesta s pripadajućim dionicama</h3>

<br />

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-primary" asp-controller="Autocesta" asp-action="Create">Dodaj autocestu</a>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Naziv", "Duljina Plan", "Duljina", "Početak", "Kraj", "IdUpravitelja", "Dionice" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>
                            
                                @nazivi[i - 1]
                          
                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autocesta in Model.Autoceste)
            {
                <partial name="Row" model="autocesta" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idautoceste');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idautoceste');
        });
    </script>
    
    
}