﻿@model IEnumerable<MojTimskiProjekt.Models.Autocesta>

@{
    ViewData["Title"] = "Index";
}

<h2>Autoceste</h2>

<p>@ViewData["message"]</p>
<div class="jumbotron">
    <div class="row">
        <div class="dropdown col-md-5">
            <a class="btn btn-lg btn-primary  btn-block"   asp-area="" asp-controller="Dionica" asp-action="Index" >
                Dionice
            </a>
            
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Autocesta" asp-action="Create">Dodaj autocestu</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Autocesta" asp-action="IndexSimple">Master-detail</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Autocesta" asp-action="IndexSimple2">Uredi autoceste</a>
        </div>
    </div>
    


</div>
<div class="jumbotron">


    <table class="table" id="autocestaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuljinaPlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duljina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pocetak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kraj)
                </th>
                <th>
                    Naziv upravitelja
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuljinaPlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duljina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pocetak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kraj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUpraviteljaNavigation.Naziv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#autocestaTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}