﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.Autocesta>

@{
    ViewData["Title"] = "IndexSimple";
    IEnumerable<Dionica> dionice = ViewData["dionice"] as IEnumerable<Dionica>;
}

<p></p>

<br />

    <div class="row">
        <div class="dropdown col-md-3">
            <a class="btn btn-lg btn-primary  btn-block" type="button" asp-area="" asp-controller="Dionica" asp-action="Index">
                Dionice
            </a>

        </div>
    </div>
<br />
    <div class="row">

        <div class="col-md-3">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Autocesta" asp-action="IndexSimple2">Uredi autoceste</a>
        </div>
    </div>




<div class="row ">

    <div class="col-md-8">
       
    </div>
  
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="AutocestePdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="AutocesteExcel">Ispis u excel</a>
    </div>

</div>

<div class="jumbotron">


    <table class="table" id="autocestaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    Dionice

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duljina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pocetak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kraj)
                </th>
                <th>
                    Naziv upravitelja
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @{
                            foreach (Dionica dionica in dionice)
                            {
                                if (dionica != null && dionica.IdAutoceste == item.Id)
                                {

                                    @Html.DisplayFor(modelItem => dionica.Naziv)

                                    <br />

                                }

                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duljina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pocetak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kraj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUpraviteljaNavigation.Naziv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
