﻿@model MojTimskiProjekt.ViewModels.AutocestaViewModel
@{
    IEnumerable<Dionica> dionice = ViewData["dionice"] as IEnumerable<Dionica>;

}
<tr>

    <td class="text-left">@Model.Naziv</td>
    <td class="text-left">@Model.DuljinaPlan</td>
    <td class="text-left">@Model.Duljina</td>
    <td class="text-left">@Model.Pocetak</td>
    <td class="text-left">@Model.Kraj</td>
    <td class="text-left">@Model.IdUpravitelja</td>
    <td class="textt-left">
        @{
            foreach (var dionica in dionice)
            {
                if (dionica != null && dionica.IdAutoceste == Model.Id)
                {

                    @Html.DisplayFor(modelItem => dionica.Naziv)

                    <br />

                }

            }
        }
    </td>
    
    <td>
        <a data-idautoceste="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idautoceste="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idautoceste');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idautoceste');
        });
    </script>


}