﻿@model MojTimskiProjekt.Models.Objekt

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="jumbotron">
    <h4>Objekt</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Naziv" class="control-label"></label>
            <input asp-for="Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lokacija" class="control-label"></label>
            <input asp-for="Lokacija" class="form-control" />
            <span asp-validation-for="Lokacija" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdDionice" class="control-label"></label>
            <select asp-for="IdDionice" class="form-control" asp-items="ViewBag.IdDionice"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdVrsteObjekta" class="control-label"></label>
            <select asp-for="IdVrsteObjekta" class="form-control" asp-items="ViewBag.IdVrsteObjekta"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-success btn-lg " />
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        </form>
    </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
