﻿@model MojTimskiProjekt.Models.Objekt

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Objekt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDioniceNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDioniceNavigation.Kraj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdVrsteObjektaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVrsteObjektaNavigation.Vrsta)
        </dd>
    </dl>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger delete" /> |
                </form>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
