﻿@model MojTimskiProjekt.Models.Objekt

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div >
    <h4>Objekt</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lokacija)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lokacija)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdDioniceNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdDioniceNavigation.Kraj)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdVrsteObjektaNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdVrsteObjektaNavigation.Vrsta)
            </dd>
        </dl>
        </div>
    </div>
    <div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-5">
                    <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
                <div class="col-md-5">
                    <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Natrag na Listu</a>
                </div>
            </div>
        </div>
    </div>
