﻿@model MojTimskiProjekt.Models.Objekt

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Objekt</h4>
<hr />
 <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacija" class="control-label"></label>
                <input asp-for="Lokacija" class="form-control" />
                <span asp-validation-for="Lokacija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDionice" class="control-label"></label>
                <select asp-for="IdDionice" class="form-control" asp-items="ViewBag.IdDionice"></select>
                <span asp-validation-for="IdDionice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVrsteObjekta" class="control-label"></label>
                <select asp-for="IdVrsteObjekta" class="form-control" asp-items="ViewBag.IdVrsteObjekta"></select>
                <span asp-validation-for="IdVrsteObjekta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
