﻿@model IEnumerable<MojTimskiProjekt.Models.Objekt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objekti</h2>
<br />


<!--div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Zaposlenik" asp-action="Index">Zaposlenici</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Objekti</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="ProslaStanja" asp-action="Index">Stanja</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="" asp-action="Index">Karta</a>
        </div>
    </div>
</div>-->

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Create">Dodaj novi objekt</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="IndexSimple">Uredi objekte</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="IndexSimple2">Master-detail</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Uredaj" asp-action="Index">Uređaji</a>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ObjektPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ObjektExcel">Ispis u excel</a>
    </div>
</div>



<div class="jumbotron">
    <table class="table" id="objektTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lokacija)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDioniceNavigation.Naziv) Dionice
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.IdVrsteObjektaNavigation.Vrsta) Objekta
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Uredaj" asp-action="Index" asp-route-objektId="@item.Id">@Html.DisplayFor(modelItem => item.Naziv)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lokacija)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDioniceNavigation.Kraj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVrsteObjektaNavigation.Vrsta)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#objektTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}