﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.Objekt>

@{
    ViewData["Title"] = "IndexSimple2";
    IEnumerable<Uredaj> uredaji = ViewData["uredaji"] as IEnumerable<Uredaj>;
}

<h2>Prikaz objekata s pripadajućim uređajima</h2>
<br/>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ObjektiPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="ObjektiExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">


    <table class="table" id="autocestaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdVrsteObjektaNavigation.Vrsta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lokacija)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDioniceNavigation.Naziv) dionice
                </th>
                <th>
                    Uređaji
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdVrsteObjektaNavigation.Vrsta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDioniceNavigation.Naziv)
                </td>
                <td>
                    @{
                        foreach (Uredaj uredaj in uredaji)
                        {
                            if (uredaj != null && uredaj.IdObjekta == item.Id)
                            {

                                @Html.DisplayFor(modelItem => uredaj.Naziv)

                                <br />

                            }

                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
