﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.ObjektiViewModel

@{
    ViewData["Title"] = "IndexSimple";
    IEnumerable<Dionica> dionice = ViewData["dionice"] as IEnumerable<Dionica>;
}
<p></p>

<h3>Prikaz objekata</h3>

<br />

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Create">Dodaj novi objekt</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover" id="objektTable">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Naziv", "Lokacija", "IdDionice", "IdVrsteObjekta" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>

                            @nazivi[i - 1]

                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objekt in Model.Objekti)
            {
                <partial name="Row" model="objekt" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
    $(function () {
        SetEditAjax(".editajax", '@Url.Action("EditPartial")', 'idobjekta');
        SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idobjekta');
    });
    </script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#objektTable').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}