﻿@model MojTimskiProjekt.Models.Alarm

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Alarm</h4>
<hr />
<div class="jumbotron">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrsta" class="control-label"></label>
                <input asp-for="Vrsta" class="form-control" />
                <span asp-validation-for="Vrsta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdIncidenta" class="control-label"></label>
                <select asp-for="IdIncidenta" class="form-control" asp-items="ViewBag.IdIncidenta"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
