﻿@model MojTimskiProjekt.Models.Alarm

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alarm</h4>
    <hr />
    <div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdIncidentaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdIncidentaNavigation.Lokacija)
        </dd>
    </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" onclick="return confirm('Are you sure you want to delete?')"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
