﻿@model MojTimskiProjekt.Models.Alarm

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alarm</h4>
    <hr />
    <div class="jumbotron">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdIncidentaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdIncidentaNavigation.Lokacija)
        </dd>
    </dl>
        </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
