﻿@model MojTimskiProjekt.Models.Alarm

<tr>


    <td>
        <label>Naziv alarma</label>
        <input asp-for="Naziv" class="form-control" data-save="" />
    </td>
    <td>
        <label>Vrsta alarma</label>
        <input asp-for="Vrsta" class="form-control" data-save="" />
    </td>
    <td>
        <label>Naziv Inidenta</label>
        <input asp-for="IdIncidenta" class="form-control" data-save="" />
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-success save" title="Spremi"><i class="fas fa-save">Spremi</i></button>
    </td>
    <td>
        <button class="btn btn-sm cancel" title="Odustani"><i class="fas fa-undo-alt">Odustani</i></button>
    </td>
</tr>
<tr>
    <td colspan="6">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" data-save="" />
    </td>
</tr>
