﻿@model IEnumerable<MojTimskiProjekt.Models.Alarm>

@{
    ViewData["Title"] = "Index";
}

<h2>Alarm</h2>
<div class="jumbotron">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIncidenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIncidentaNavigation.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIncidentaNavigation.Lokacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIncidenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIncidentaNavigation.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIncidentaNavigation.Lokacija)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>