﻿@model MojTimskiProjekt.ViewModels.AlarmiViewModel

@{
    ViewBag.Title += "Alarmi";
}

<h2>Popis alarma</h2>


<a asp-action="Create">Unos novog alarma</a>


<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Id alarma", "Naziv alarma", "Vrsta alarma", "Id incidenta", "Lokacija incidenta" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        
                            @nazivi[i - 1]
                        
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alarm in Model.Alarmi)
        {
            <partial name="Row" model="alarm" />
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idalarma');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idalarma');
        });
    </script>
}