﻿@model MojTimskiProjekt.ViewModels.AlarmViewModel

<tr>
    <td class="text-left">@Model.Id</td>
    <td class="text-left">@Model.Naziv</td>
    <td class="text-left">@Model.Vrsta</td>
    <td class="text-left">@Model.IdIncidenta</td>
    <td class="text-left">@Model.LokacijaIncidenta</td>
    <td>
        <a data-idalarma="@Model.Id" class="btn btn-sm btn-success editajax" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idalarma="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>
</tr>