﻿@model MojTimskiProjekt.Models.NaplatnaPostaja

@{
    ViewData["Title"] = "Create";
}



<h4>Naplatna postaja</h4>
<hr />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="Lokacija" class="control-label"></label>
                    <input asp-for="Lokacija" class="form-control" />
                    <span asp-validation-for="Lokacija" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDionice" class="control-label"></label>
                    <select asp-for="IdDionice" class="form-control" asp-items="ViewBag.IdDionice"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Vrsta" class="control-label"></label>
                    <input asp-for="Vrsta" class="form-control" />
                    <span asp-validation-for="Vrsta" class="text-danger"></span>
                </div>
    

                <br />
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-success btn-lg" />
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
