﻿
@model MojTimskiProjekt.Models.NaplatnaPostaja

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Naplatna postaja</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lokacija)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lokacija)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Vrsta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vrsta)
            </dd>
           
            <dt>
                @Html.DisplayNameFor(model => model.IdDioniceNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdDioniceNavigation.Naziv)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger delete" id="delete" /> |

    </form>

</div>
