﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.NaplatnePostajeViewModel

@{
    ViewData["Title"] = "IndexSimple";
    IEnumerable<Cjenik> cjenici = ViewData["cjenici"] as IEnumerable<Cjenik>;
}
<p></p>

<h3>Prikaz naplatnih postaja s pripadajućim cjenicima</h3>

<br />

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-primary" asp-controller="NaplatnaPostaja" asp-action="Create">Dodaj naplatnu postaju</a>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Lokacija", "Vrsta", "IdUpravitelja", "Cjenici" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>

                            @nazivi[i - 1]

                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var naplatnapostaja in Model.NaplatnePostaje)
            {
                <partial name="Row" model="naplatnapostaja" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idnaplatnepostaje');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idnaplatnepostaje');
        });
    </script>


}



