﻿@using MojTimskiProjekt.Models
@{
    ViewBag.Title = "Index";
}
@{
    ViewData["Title"] = "NaplatnaPostaja";
}
@{
    var data = ViewBag.Message;
}

<div class="col-md-3">
    <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="NaplatnaPostaja" asp-action="IndexSimple2">Uredi naplatne postaje</a>
</div>
<br />
<br />
<br />
<h4>   Popis naplatnih postaja :</h4>
<div class="jumbotron">
    <table class="table" id="objektTable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Lokacija
                </th>
                <th>
                    Vrsta postaje
                </th>
                
            </tr>
        </thead>
        @for (int i = 0;i<@data.Count;i++) 
        {
            <tr>
                <td>
                    @data[i].Id
                </td>
                <td>
                    <a asp-area="" asp-controller="Cjenik" asp-action="Index" asp-route-NaplatnaPostajaId="@data[i].Id">@data[i].Lokacija</a>
                </td>
                <td>
                    @data[i].Vrsta
                </td>
            </tr>
        }

    </table>
</div>

