﻿@model MojTimskiProjekt.ViewModels.NaplatnaPostajaViewModel
@{
    IEnumerable<Cjenik> cjenici = ViewData["cjenici"] as IEnumerable<Cjenik>;

}
<tr>

    <td class="text-left">@Model.Lokacija</td>
    <td class="text-left">@Model.Vrsta</td>
    <td class="text-left">@Model.IdDionice</td>
    <td class="textt-left">
        @{
            foreach (var cjenik in cjenici)
            {
                if (cjenik != null && cjenik.IdNaplatnePostaje == Model.Id)
                {

                    <div>Iz : @Html.DisplayFor(modelItem => cjenik.MjestoUlaska) | Kategorija : @Html.DisplayFor(modelItem => cjenik.Kategorija) | Cijena : @Html.DisplayFor(modelItem => cjenik.Iznos)</div>

                    <br />

                }

            }
        }
    </td>

    <td>
        <a data-idnaplatnepostaje="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idnaplatnepostaje="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idnaplatnepostaje');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idnaplatnepostaje');
        });
    </script>


}
