﻿@model MojTimskiProjekt.Models.Upravitelj

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodavanje novog upravitelja</h2>

<h4>Upravitelj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sjediste" class="control-label"></label>
                <input asp-for="Sjediste" class="form-control" />
                <span asp-validation-for="Sjediste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oib" class="control-label"></label>
                <input asp-for="Oib" class="form-control" />
                <span asp-validation-for="Oib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kontakt" class="control-label"></label>
                <input asp-for="Kontakt" class="form-control" />
                <span asp-validation-for="Kontakt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

 <div class="col-md-5">
        <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Upravitelj" asp-action="Index">Natrag na Listu</a>
 </div>


