﻿@model MojTimskiProjekt.Models.Upravitelj

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brisanje</h2>

<div>
    <h3>Upravitelj</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sjediste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sjediste)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Oib)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oib)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>
    </dl>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Delete" onclick="return confirm('Jeste li sigurni da želite obrisati?')">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Obriši" class="btn btn-danger delete" /> |
                </form>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Upravitelj" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>

