﻿@model MojTimskiProjekt.Models.Upravitelj

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji</h2>

<div>
    <h3>Upravitelj</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sjediste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sjediste)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Oib)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oib)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>
    </dl>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Upravitelj" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
