﻿@using MojTimskiProjekt.Models
@model MojTimskiProjekt.ViewModels.UpraviteljiViewModel

@{
    ViewData["Title"] = "IndexSimple";
    IEnumerable<Autocesta> autoceste = ViewData["autoceste"] as IEnumerable<Autocesta>;
}
<p></p>

<h3>Prikaz upravitelja</h3>

<br />

<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Upravitelj" asp-action="Create">Dodaj novog upravitelja</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Upravitelj" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">



    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                @{
                    string[] nazivi = { "Naziv", "Sjediste", "Oib", "EMail", "Kontakt", "Autoceste" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>

                            @nazivi[i - 1]

                        </th>
                    }
                }
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var upravitelj in Model.Upravitelji)
            {
                <partial name="Row" model="upravitelj" />
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idupravitelja');
            SetDeleteAjax(".deleteajax", '@Url.Action("DeletePartial")', 'idupravitelja');
        });
    </script>
}