﻿@using MojTimskiProjekt.Models
@model IEnumerable<MojTimskiProjekt.Models.Upravitelj>

@{
    ViewData["Title"] = "IndexSimple2";
    IEnumerable<Autocesta> autoceste = ViewData["autoceste"] as IEnumerable<Autocesta>;
}

<h2>Prikaz upravitelja s pripadajućim autocestama</h2>
<br/>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="UpraviteljiPdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="UpraviteljiExcel">Ispis u excel</a>
    </div>

</div>
<div class="jumbotron">


    <table class="table" id="upraviteljTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sjediste)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oib)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kontakt)
                </th>
                <th>
                    Autoceste
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sjediste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oib)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kontakt)
                </td>
                <td>
                    @{
                        foreach (Autocesta autocesta in autoceste)
                        {
                            if (autocesta != null && autocesta.IdUpravitelja == item.Id)
                            {

                                @Html.DisplayFor(modelItem => autocesta.Naziv)

                                <br />

                            }

                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
