﻿@model MojTimskiProjekt.ViewModels.UpraviteljViewModel
@{
    IEnumerable<Autocesta> autoceste = ViewData["autoceste"] as IEnumerable<Autocesta>;

}
<tr>

    <td class="text-left">@Model.Naziv</td>
    <td class="text-left">@Model.Sjediste</td>
    <td class="text-left">@Model.Oib</td>
    <td class="text-left">@Model.EMail</td>
    <td class="text-left">@Model.Kontakt</td>
    <td class="textt-left">
        @{
            foreach (var autocesta in autoceste)
            {
                if (autocesta != null && autocesta.IdUpravitelja == Model.Id)
                {

                    @Html.DisplayFor(modelItem => autocesta.Naziv)

                    <br />

                }

            }
        }
    </td>

    <td>
        <a data-idupravitelja="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-idupravitelja="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','idupravitelja');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'idupravitelja');
        });
    </script>


}