﻿@model MojTimskiProjekt.Models.Racun

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Racun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumUlaz" class="control-label"> Datum ulaska</label>
                <input asp-for="DatumUlaz" class="form-control" />
                <span asp-validation-for="DatumUlaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzlaz" class="control-label"> Datum izlaska</label>
                <input asp-for="DatumIzlaz" class="form-control" />
                <span asp-validation-for="DatumIzlaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategorijeVozila" class="control-label">Kategorija vozila</label>
                <select asp-for="IdKategorijeVozila" class ="form-control" asp-items="ViewBag.IdKategorijeVozila"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegistracijskeOznake" class="control-label">Registracijske oznake</label>
                <input asp-for="RegistracijskeOznake" class="form-control" />
                <span asp-validation-for="RegistracijskeOznake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"> Iznos</label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNacinaPlacanja" class="control-label">Način plaćanja</label>
                <select asp-for="IdNacinaPlacanja" class ="form-control" asp-items="ViewBag.IdNacinaPlacanja"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBlagajnika" class="control-label">ID blagajnika</label>
                <select asp-for="IdBlagajnika" class ="form-control" asp-items="ViewBag.IdBlagajnika"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdNaplatneKucice" class="control-label">ID naplatne kućice</label>
                <select asp-for="IdNaplatneKucice" class ="form-control" asp-items="ViewBag.IdNaplatneKucice"></select>
            </div>
            <div class="form-group">
                <label asp-for="MjestoUlaska" class="control-label">Mjesto ulaska</label>
                <input asp-for="MjestoUlaska" class="form-control" />
                <span asp-validation-for="MjestoUlaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MjestoIzlaska" class="control-label">Mjesto izlaska</label>
                <input asp-for="MjestoIzlaska" class="form-control" />
                <span asp-validation-for="MjestoIzlaska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

