﻿@model MojTimskiProjekt.Models.Racun

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumUlaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumUlaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumIzlaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumIzlaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistracijskeOznake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistracijskeOznake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MjestoUlaska)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoUlaska)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MjestoIzlaska)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoIzlaska)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBlagajnikaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBlagajnikaNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdKategorijeVozilaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKategorijeVozilaNavigation.KategorijaVozila1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNacinaPlacanjaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNacinaPlacanjaNavigation.NacinPlacanja1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNaplatneKuciceNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatneKuciceNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
