﻿@model MojTimskiProjekt.Models.Racun

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Datum ulaska:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumUlaz)
        </dd>
        <dt>
            Datum izlaska:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumIzlaz)
        </dd>
        <dt>
            Registracijske oznake:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistracijskeOznake)
        </dd>
        <dt>
           Iznos:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt>
            Mjesto ulaska:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoUlaska)
        </dd>
        <dt>
            Mjesto izlaska:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MjestoIzlaska)
        </dd>
        <dt>
            ID blagajnika:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBlagajnikaNavigation.Id)
        </dd>
        <dt>
            Kategorija vozila:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKategorijeVozilaNavigation.KategorijaVozila1)
        </dd>
        <dt>
            Način plaćanja: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNacinaPlacanjaNavigation.NacinPlacanja1)
        </dd>
        <dt>
            ID naplatne kućice: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNaplatneKuciceNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
