﻿@model IEnumerable<MojTimskiProjekt.Models.Racun>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<h3> Racuni</h3>
<br />

<a class="btn btn-lg btn-primary  col-md-5 " asp-area="" asp-controller="NaplatnaKucicas" asp-action="Index">Naplatne kućice</a>

<div class="row ">

    <div class="col-md-8">

    </div>

    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="AutocestePdf">Ispis u pdf</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-md btn-block btn-info" asp-controller="Report" asp-action="AutocesteExcel">Ispis u excel</a>
    </div>

</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Datum ulaz
            </th>
            <th>
                Datum izlaz
            </th>
            <th>
                Registracijske oznake
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iznos)
            </th>
            <th>
                Mjesto ulaz
            </th>
            <th>
                Mjesto izlaz
            </th>
            <th>
                Blagajnik
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Nacin placanja
            </th>
            <th>
                Naplatna kucica
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumUlaz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumIzlaz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistracijskeOznake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iznos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MjestoUlaska)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MjestoIzlaska)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBlagajnikaNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKategorijeVozilaNavigation.KategorijaVozila1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNacinaPlacanjaNavigation.NacinPlacanja1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNaplatneKuciceNavigation.Naziv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
