﻿@model MojTimskiProjekt.Models.Uredaj

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Uredaj</h4>
<hr />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="form-group">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="IdVrsteUredaja" class="control-label"></label>
                    <select asp-for="IdVrsteUredaja" class="form-control" asp-items="ViewBag.IdVrsteUredaja"></select>
                </div>
                
                <div class="form-group">
                    <label asp-for="IdObjekta" class="control-label"></label>
                    <select asp-for="IdObjekta" class="form-control" asp-items="ViewBag.IdObjekta"></select>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-success btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

