﻿@model MojTimskiProjekt.Models.Uredaj
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uredaj</h4>
    <hr />
    <div class="jumbotron">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdObjekta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdObjekta)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdVrsteUredaja)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdVrsteUredaja)
            </dd>
        </dl>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <form asp-action="Delete" onclick="return confirm('Are you sure you want to delete?')">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger delete" /> |
                </form>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Uredaj" asp-action="Index">Natrag na listu</a>
            </div>
        </div>
    </div>
</div>
