﻿@model MojTimskiProjekt.Models.Uredaj

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div class="jumbotron">
    <h4>Autocesta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdObjekta" class="control-label"></label>
                    <select asp-for="IdObjekta" class="form-control" asp-items="ViewBag.IdObjekta"></select>
                    <span asp-validation-for="IdObjekta" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdVrsteUredaja" class="control-label"></label>
                    <select asp-for="IdVrsteUredaja" class="form-control" asp-items="ViewBag.IdVrsteUredaja"></select>
                    <span asp-validation-for="IdVrsteUredaja" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary  col-md-5 btn-block" asp-area="" asp-controller="Objekt" asp-action="Index">Natrag na Listu</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
