﻿@model MojTimskiProjekt.ViewModels.UredajViewModel
@{

}
<tr>

    <td class="text-left">@Model.Naziv</td>
    <td class="text-left">@Model.IdObjekta</td>
    <td class="text-left">@Model.IdVrsteUredaja</td>


    <td>
        <a data-iduredaja="@Model.Id" class="btn btn-sm editajax btn-success" title="Ažuriraj"><i class="fas fa-edit">Ažuriraj</i></a>
    </td>
    <td>
        <form asp-action="Delete" method="post">
            @*Neće se koristiti direktni submit, ali treba zbog anti forgery tokena*@
            @*Jednako tako nije potreban ni ovaj input type=hidden ako skripta ispravno radi*@
            <input type="hidden" name="id" value="@Model.Id" />
            <button data-iduredaja="@Model.Id" class="btn btn-sm btn-danger deleteajax" title="Obriši"><i class="fas fa-trash-alt">Obriši</i></button>
        </form>
    </td>

</tr>


@section scripts{
    <script type="text/javascript">
        $(function () {
            SetEditAjax(".editajax", '@Url.Action("EditPartial")','iduredaja');
            SetDeleteAjax(".deleteajax", '@Url.Action("Delete")', 'iduredaja');
        });
    </script>


}